:root {
    --md-sys-color-primary: rgb(0 106 106);
    --md-sys-color-surface-tint: rgb(0 106 106);
    --md-sys-color-on-primary: rgb(255 255 255);
    --md-sys-color-primary-container: rgb(156 241 240);
    --md-sys-color-on-primary-container: rgb(0 79 79);
    --md-sys-color-secondary: rgb(0 105 107);
    --md-sys-color-on-secondary: rgb(255 255 255);
    --md-sys-color-secondary-container: rgb(156 241 241);
    --md-sys-color-on-secondary-container: rgb(0 79 80);
    --md-sys-color-tertiary: rgb(138 80 33);
    --md-sys-color-on-tertiary: rgb(255 255 255);
    --md-sys-color-tertiary-container: rgb(255 220 197);
    --md-sys-color-on-tertiary-container: rgb(109 57 10);
    --md-sys-color-error: rgb(186 26 26);
    --md-sys-color-on-error: rgb(255 255 255);
    --md-sys-color-error-container: rgb(255 218 214);
    --md-sys-color-on-error-container: rgb(147 0 10);
    --md-sys-color-background: rgb(244 251 250);
    --md-sys-color-on-background: rgb(22 29 29);
    --md-sys-color-surface: rgb(244 251 250);
    --md-sys-color-on-surface: rgb(22 29 29);
    --md-sys-color-surface-variant: rgb(218 229 228);
    --md-sys-color-on-surface-variant: rgb(63 73 72);
    --md-sys-color-outline: rgb(111 121 121);
    --md-sys-color-outline-variant: rgb(190 201 200);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(43 50 49);
    --md-sys-color-inverse-on-surface: rgb(236 242 241);
    --md-sys-color-inverse-primary: rgb(128 213 212);
    --md-sys-color-primary-fixed: rgb(156 241 240);
    --md-sys-color-on-primary-fixed: rgb(0 32 32);
    --md-sys-color-primary-fixed-dim: rgb(128 213 212);
    --md-sys-color-on-primary-fixed-variant: rgb(0 79 79);
    --md-sys-color-secondary-fixed: rgb(156 241 241);
    --md-sys-color-on-secondary-fixed: rgb(0 32 32);
    --md-sys-color-secondary-fixed-dim: rgb(128 212 213);
    --md-sys-color-on-secondary-fixed-variant: rgb(0 79 80);
    --md-sys-color-tertiary-fixed: rgb(255 220 197);
    --md-sys-color-on-tertiary-fixed: rgb(48 20 0);
    --md-sys-color-tertiary-fixed-dim: rgb(255 183 130);
    --md-sys-color-on-tertiary-fixed-variant: rgb(109 57 10);
    --md-sys-color-surface-dim: rgb(213 219 218);
    --md-sys-color-surface-bright: rgb(244 251 250);
    --md-sys-color-surface-container-lowest: rgb(255 255 255);
    --md-sys-color-surface-container-low: rgb(239 245 244);
    --md-sys-color-surface-container: rgb(233 239 238);
    --md-sys-color-surface-container-high: rgb(227 233 233);
    --md-sys-color-surface-container-highest: rgb(221 228 227);
}
